<div class="row">
    <div class="col-md-12">
        <h2>Departments<a href="/departments/add" class="btn btn-success pull-right">Add New Department</a></h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Department Number</th>
                        <th>Department Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each departments}}
                    <tr>
                        <td><a href="/employees?department={{departmentId}}">{{departmentId}}</a></td>
                        <td><a href="/department/{{departmentId}}">{{departmentName}}</a></td>
                        <td><a class="btn btn-danger" href="/departments/delete/{{this.departmentId}}">remove</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>